*{
    margin: 0px;padding: 0px;box-sizing: border-box;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.background-container {
    background-image: url(../Images/bner5.jpg); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 400px;
    max-width: 2500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
/* Text styling */
.text-overlay {
    text-align: center;
    color: white; /* Text color */
    padding: 20px;
    background-color: rgb(49, 158, 58);

    /* Optional: semi-transparent background */
    border-radius: 10px; /* Optional: rounded corners */
    opacity: 0;
    transform: translateY(-100%); /* Start from above the container */
    animation: slideIn 3s forwards; /* Animation for sliding in */
}

.text-overlay h1 {
    font-size: 2rem;
    margin: 0;
}
.text-overlay p {
    font-size: 1.2em;
}
.text1{
    font-size: 2.3rem;
    color: #399939;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.images{
    background-size: cover;position: relative;min-width: 320px;min-height: 300px;
}
.img1{
    background-image: url('../Images/17.jpg');
}
.img2{
    background-image: url('../Images/16e.jpg');
}
.img3{
    background-image: url('../Images/18.jpg');
}
.text1 h1{
    text-align: center;color: white;font-weight: bold;font-size: 3rem;
}
.text1 p{
    font-size: 25px;
    font-weight: bold;padding: 15px;margin: 20px;
    text-align: center;color: white;  
}
.text2 h1{
    color: #399939
}
.item1{
    background-color: #F6F4F0;
    border-radius: 10px;
    overflow: hidden;
    gap: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.item1:hover{
    transform: scale(1.05);
}
.item1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.item1 ul {
    list-style: none;
    padding: 10px;
    text-align: center;
    
}

.item1 li {
    margin: 10px 0;
    font-weight: bold;
}
.fotr{
    color: white;
  }
  .fotr h1{
    align-items: center;
    text-align: center;
  }
  .fotr li{
    list-style-type: none;text-align: center;
  }
  @media screen and (min-width: 765px) {
    .foot-item img {
      width: 220px;
    }
  }
  @media screen and (max-width: 576px) {
    .foot-item img {
      width: 270px;
    }
    .foot-item{
        align-items: center;
    }
  }
  .copy-right hr{
    color: rgb(155, 142, 142);
    height: 2px;
  }
  .copy-right p{
    color: white;
    text-align: center;
  }
/* Animation for sliding the text from top to center */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100%); /* Start position above */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End position at the center */
    }
}

